body {
    margin: 2em 2em;
    padding: 2em 2em;
}

/* The background color is animated to change using the animation property
        with the @keyframes */
#lndBody {
    background-color: rgba(169, 223, 208, 0.2);
    animation: colorSwirl 15s infinite;
}

/* CSS to animate background color */
@keyframes colorSwirl {

    0%,
    100% {
        background-color: rgba(169, 223, 208, 0.16);
    }

    25% {
        background-color: rgba(203, 169, 223, 0.16);
    }

    50% {
        background-color: rgba(223, 169, 169, 0.16);
    }

    75% {
        background-color: rgba(223, 215, 169, 0.16);
    }
}

/* Set the background color for individual pages */
body.catalogue {
    padding-top: 5em;
    background-color: rgba(177, 223, 211, 0.2);
}

/* Set the background color for individual pages */
body.team {
    padding-top: 5em;
    background-color: rgba(193, 233, 220, 0.2);
}

/* Style images for the website */
img {
    padding: auto;
    border: 0.08em solid white;
    border-radius: 5px;
}

/* Style images for the particular page */
.ldPage img {
    filter: saturate(1.8);
    filter: sepia(0.1);
}

/* Style images for the particular page */
.team img {
    padding: .5em;
    border: 0.2em solid white;
    filter: brightness(1.05) grayscale(0.2);
}

.body-border {
    background-origin: padding-box;
    border: 3em white;
}

/* The navbar class is used to create the hover effect. */
.ldPage.navbar {
    margin: 0;
    position: absolute;
    top: 75%;
    transform: translate(0, -50%);
    opacity: 0.3;
    transition: 1s;
}

/* Generic navbar styling */
.navbar {
    opacity: 0.4;
    transition: .3s;
}

/* Implementation of the hover effect */
.navbar:hover {
    opacity: 0.95;
}

/* Styling active links */
.nav-link.active {
    font-weight: bolder;
    color: honeydew !important;
    font-size: 1.05em;
}

/* Styling for the landing page logo*/
.ldPage a#logo {
    text-decoration: none;
    color: #fff;
    padding-left: 1.52em;
    text-shadow: 2px 2px 10px white;
    text-shadow: 4px 4px 15px silver;
    text-shadow: -2px -2px 10px white;
    text-shadow: -4px -4px 15px silver;
}

/* Generic styling for the logo*/
a#logo {
    text-decoration: none;
    color: #000;
    transition: all 180ms;
}

/* Apply hover effect styling for the logo*/
a#logo:hover {
    text-shadow: 1px 1px 50px rgb(73, 84, 92),
        2px 2px 750px rgb(104.0, 119.0, 129.0),
        -1px -1px 50px rgb(73, 84, 92),
        -2px -2px 750px rgb(104.0, 119.0, 129.0);
}

/* Change the bootstrap CSS using !important */
.bg-primary {
    background-color: rgba(154.0, 169.0, 179.0, 0.3) !important;
}

/* Style headers */
h1 {
    font-family: 'Poiret One';
    font-weight: bold;
}

/* Style headers */
h2 {
    font-size: 1rem;
}

/* Styling bootstrap buttons with !important tags to override the styling and make it more suited to the page.*/
.btn-info {
    background-color: rgb(98, 139, 58);
    border-color: rgb(98, 139, 58) !important;
}

.btn-info:hover {
    background-color: rgb(82, 116, 48);
    border-color: rgba(98, 139, 58, .6) !important;
    box-shadow: 0 0 0 3px rgba(98, 139, 58, .6);        
}

.btn-outline-info {
    color: rgb(98, 139, 58);
    border-color: rgb(98, 139, 58) !important;
    outline-color: rgb(98, 139, 58) !important;
}

.btn-outline-info:hover {
    background-color: rgb(98, 139, 58);
}

.btn-danger {
    background-color: rgb(255, 50, 84) !important;
    border-color: rgb(255, 50, 84) !important;
}

.btn-danger:hover {
    background-color: rgb(219, 51, 79) !important;
    border-color: rgba(255, 50, 84) !important;
    box-shadow: 0 0 0.3px 2px rgba(255, 50, 84) !important;        
}

.btn-outline-danger:hover {
    background-color: rgb(219, 51, 79) !important;
    border-color: rgba(255, 50, 84) !important;
    box-shadow: 0 0 0.6px 0.7 px rgba(255, 50, 84) !important;        
}

/* Styling the catalogue cards for the web site. */
.catalogue.card {
    width: 100%;
    height: 22em;
    border: none;
}

div#productLabel a {
    font-size: 5em;
    text-decoration: none;
    color: rgba(78, 55, 37, 0.6);
}

/* Creating animation for product image. */
.prodimg {
    transition: transform 300ms;
    transition-timing-function: ease;
}

.prodimg:hover {
    transform: scale(1.165);
    z-index: 1;
}

div.roundcard {
    border-radius: 50%;
}

/* Style headers */
h3 {
    font-family: 'Poiret One';
    font-weight: bold;
}

/* Generic styling for card elements */
.catalogue .card-title,
.catalogue .card-text {
    opacity: 0;
    border-radius: 3px;
    transition: .2s;
}

/* Seperate styling for card elements */
.catalogue .card-title {
    margin: 0 1em;
    padding: 0.5em;
    position: absolute;
    top: 20%;
    transform: translate(0, -50%);
}

.catalogue .card-text {
    margin: 0.5em 2em;
    padding: 1em;
    position: absolute;
    top: 60%;
    transform: translate(0, -50%);
}

/* In order to create the effect that product info appears when it is slected, the card text and tile elements are 
connected as sibling elements with a hidden check-box. Upon 'checked' the card elements become visible. */
.catalogue .form-check-input:checked~.card-title,
.catalogue .form-check-input:checked~.card-text {
    background-color: rgba(154.0, 169.0, 179.0, 0.7);
    color: #fff;
    opacity: 1;
}
 /* Stying the buttons on the catalogue page */
.catalogue .btn {
    background-color: rgba(154.0, 169.0, 179.0, 0.3);
    border-color: silver;
}

/* Adding hover effect to the buttons on the catalogue page */
.catalogue .btn:hover {
    background-color: white;
    color: rgba(38, 49, 46, 0.7);
    border-color: silver;
}
/* Styling team page card element tags indivisually */
.team .card {
    background-color: rgba(244, 253, 242, 0.3);
}

.team .card-body {
    background-color: rgba(244, 250, 255, 0.8);
}

.team .card-footer {
    background-color: rgba(200, 252, 232, 0.3);
}

/* Style headers */
h5 {
    font-family: 'Poiret One';
    font-weight: bold;
}

/* Change the CSS of the bootstrap element*/
.shoppingCart .dropdown-menu {
    width: 350px !important;
}